* { font-family: 'jamsil' !important; word-break: keep-all; }
html body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
:root {
  --body-main-color: rgb(33, 37, 41);
}

/* landing page */
#canvas {
  display: block;
}

